<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Serandib.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1B5F4F802BAB7D4100823CD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B5F4F902BAB7D4400823CD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B5F4F9A2BAB7D4400823CD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
